<h1>Informe os lados do Triângulo</h1>
<%= form_tag :calcular3 do %>
  <%= label_tag :lado1 %>:
  <%= text_field_tag :lado1, nil, id: :triangulo_lado1 %>
  <%= label_tag :lado2 %>:
  <%= text_field_tag :lado2, nil, id: :triangulo_lado2 %>
  <%= label_tag :lado3 %>:
  <%= text_field_tag :lado3, nil, id: :triangulo_lado3 %>
  <%= submit_tag :calcular3 %>
<% end %>
<br/>
<p class="mensagem">
  <strong><%= @mensagem %></strong>
</p>
<hr>
<p>Representação Visual (apenas ilustrativa)</p>
<%= image_tag "#{@tipo_triangulo}.png", alt: @tipo_triangulo, class: @tipo_triangulo if @tipo_triangulo %>
